In [3]:
import pandas as pd

cluster1 = pd.read_csv('wallet_data_cluster1.csv')
cluster0 = pd.read_csv('wallet_data_cluster0.csv')
economics = pd.read_csv('Economics_data.csv')
wallet = pd.read_csv('wallet_data.csv')


full_cluster1 = pd.merge(cluster1, economics, left_on='month', right_on='Date', how='inner')
full_cluster0 = pd.merge(cluster0, economics, left_on='month', right_on='Date', how='inner')
full_wallet = pd.merge(wallet, economics, left_on='month', right_on='Date', how='inner')

,Unnamed: 0,month,InVolReg,OutVolReg,InVolFin,OutVolFin,TVolFin,TVolReg,WalletReg,WalletFin,...,Date,Time,Price,Coal_price_EU,Ngas_price_EU,Oil_price_EU,HDD,CDD,ESI,IPI
0,36,2008-01-01,21968177.0,1.169405e+07,108607.0,0.0,108607.0,3.366223e+07,1.840201e+09,8206838.0,...,2008-01-01,01/2008,19.10,62.338633,7.270010,62.454447,473.03,0.00,105.2,213.7
1,37,2008-02-01,61774984.0,3.172327e+07,111222.0,73102.0,184324.0,9.349826e+07,1.870252e+09,8244958.0,...,2008-02-01,02/2008,21.31,89.503662,7.350149,64.291203,407.42,0.00,103.5,217.5
2,38,2008-03-01,106782824.0,2.455627e+08,29737.0,1096616.0,1126353.0,3.523456e+08,1.731473e+09,7178079.0,...,2008-03-01,03/2008,22.27,76.157661,7.110195,66.514781,404.79,0.00,102.7,218.7
3,39,2008-04-01,510093802.0,1.915344e+09,2214126.0,7939846.0,10153972.0,2.425438e+09,3.262220e+08,1452359.0,...,2008-04-01,04/2008,23.88,78.090280,7.739191,69.956020,269.77,0.11,100.4,231.0
4,40,2008-05-01,84809842.0,6.563176e+07,779179.0,1323444.0,2102623.0,1.504416e+08,3.454001e+08,908094.0,...,2008-05-01,05/2008,26.10,85.620621,7.957832,79.665868,137.50,0.69,99.2,205.5